{% extends 'base.html' %}
{% block content %}

  <h2>You can update your preferences here: </h2>
  <p>
    <form action = "/preferences-updated/{{user_id}}" method='POST'>
      Password:<br>
      <input type="password" name="password">
      <br><br>
      Your current trigger words are: <br>
      {% for trig_word in trig_words%}
      {{trig_word}}<br>
      {% endfor %}
      <br>
      Trigger words:<br>
        <input type = 'checkbox' name = "trig_word" value="rape">R**e<br>
        <input type = 'checkbox' name = "trig_word" value="war">War<br>
        <input type = 'checkbox' name = "trig_word" value="crash">Crash<br>
        <input type = 'checkbox' name = "trig_word" value="assault">Assault<br>
        <input type = 'checkbox' name = "trig_word" value="trump">Trump<br>
        Other:<br>
          <input type = 'text' name = "trig_word"><br>
        <br><br>
      <input type="submit" value="Submit">
    </form>
  </p>
{% endblock %}
